/*
 * General
 * --------------------------------------------------
 */

html {
   overflow: hidden;
   height: 100%;
}

body {
   height: 100%;
   overflow: auto;
   font-size: 10px;
   max-width: 625px;
   margin: auto;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

/*
 * Container
 * --------------------------------------------------
 */

.container {
  left: 0;
  height: 100vh;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
       -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

/*
 * Article
 * --------------------------------------------------
 */

.article::-webkit-scrollbar {
  display: none;
}

 .article {
   top: 50px;
   height: calc(100% - 50px);
   overflow: auto;
   position: relative;
   box-shadow: -10px 0px 20px -5px #555;
   -webkit-overflow-scrolling: touch;
 }

 /*Article header*/

.article-header {
  height: 21px;
  padding: 10px 15px;
  padding-right: 10px;
  margin: 0px;
  margin-bottom: 12.5px;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}

.article-header li {
  display: inline;
  list-style-type: none;
  float: right;
  line-height: 25px;
}

.article-header li.section {
  float: left;
}

.article-header li a.user {
  font-size: 10px;
  text-transform: uppercase;
  color: #326891;
  padding: 5px;
  font-weight: 300;
}

.article-header li.section a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 15px;
}

.article-header .div {
  font-size: 11px;
  color: #d5d5d5;
}

/*Article body*/
.article-body .headline {
  font-family: serif;
  font-size: 26px;
  font-weight: 300;
  margin: 0 0 10px 0;
  padding: 0 15px;
}

.article-body img {
  width: 100%;
}

.article-body .image-caption {
  font-size: 11px;
  color: #666;
  padding: 10 15 0 15;
  line-height: 15px;
}

.article-body .image-credit {
  font-size: .9em;
  color: #999;
  padding: 0px 15px;
  line-height: 1.23em;
  text-transform: uppercase;
}

.article-body h6 {
  margin: 0;
  color: #333;
  font-size: 1.1em;
  font-weight: 300;
  font-family: Georgia;
}

.article-body h6.byline {
  padding: 15 15 0 15;
}

.article-body img.share {
  display: inline;
  padding-right: 15px;
  position: relative;
  height: 25px;
  width: 26px;
}

.article-body h6.datetime {
  padding: 3 15 0 15;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: normal;
}

.article-body p {
  padding: 0 15px;
  font-size: 1.6em;
  line-height: 1.4em;
  font-family: Georgia;
  color: #333;
}

.article-body a {
  color: #326891;
  text-decoration: underline;
}

.article-body a.comments {
  color: #326891;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 30px;
  height: 25px;
  padding: 0 15 25 15;
  border-bottom: 1px solid #d5d5d5;
  width: 50px;
  text-decoration: none;
}

.article-body a.comments span {
  position: absolute;
}

/*
 * Nav
 * --------------------------------------------------
 */

.nav {
  z-index: 0;
  position: absolute;
  width: 100%;
  max-width: 625px;
  height: 50px;
  background-color: #262626;
  background-image: url(images/logo.png);
  background-size: 200px;
  background-position: 67px 3px;
  background-repeat: no-repeat;
  box-shadow: -10px 0px 20px -5px #555;
}

.nav button.toggle-menu {
  margin: .325em .5em;
  width: 2em;
  height: 1.7em;
  background-color: #424242;
  border: 0px;
  border-radius: .1em;
  color: #AED581;
  font-weight: bold;
  line-height: 1.8em;
  outline: none;
  font-family: sans-serif;
  font-size: 2em;
  vertical-align: middle;
  text-align: center;
  padding: 0;
}

/*
 * Sidebar
 * --------------------------------------------------
 */

.sidebar {
  position: absolute;
  width: 81%;
  max-width: 506px;
  height: 100vh;
  overflow: auto;
  left: -81%;
  top: 0;
  background-color: #808080;
  -webkit-overflow-scrolling: touch;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.container.active {
  left: 81%;
}

/*Header logo*/
.sidebar .logo {
  height: 56px;
  width: 50px;
  margin: auto;
  background-image: url(images/logo_small.png);
  background-size: 32.5px 38.5px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

/*Horizontal line dividers*/
div.div-line {
  margin: 17.5px 10px;
  height: 1px;
  color: #8FAE2D;
  background-color: #8FAE2D;
  text-align: center;
}

span.div-text {
  position: relative;
  background-color: #808080;
  font-size: 10px;
  font-weight: 300;
  color: #BDD387;
  top: -3px;
  padding: 0 10px;
}

/*Sections table*/
table.sections {
  /*margin: 0 10px;*/
  width: 100%;
}

table.sections tr.line-item {
  padding: 0 10px;
  height: 40px;
}

table.sections tr td:first-of-type {
  width: 54px;
}

table.sections img.section-icon {
  height: 28px;
  margin-left: 10px;
}

table.sections td.section-label {
  padding-top: 2px;
  color: #c6c6c6;
  font-size: 19px;
  width: 168px;
}

table.sections td.section-dropdown {
  color: #999999;
  font-size: 25px;
  text-align: center;
}

/*Horizontal line dividers (sub)*/
div.div-line-sub {
  margin: 0 10px;
  height: 1px;
  color: #8FAE2D;
  background-color: #7a7a7a;
  text-align: center;
}

/*Vertical line spacer*/
div.spacer {
  height: 10px;
}

/*Social table*/
table.social tr {
  height: 40px;
}

table.social td {
  width: 120px;
  text-align: center;
  vertical-align: center;
}

table.social span {
  font-size: 17px;
  color: #383838;
}

table.social i {
  margin-right: 3px;
}

/*Misc table*/
table.misc {
  margin: 0 10px;
  width: 240px;
}

table.misc tr{
  height: 30px;
}

table.misc td {
  width: 120px;
  vertical-align: center;
  font-size: 16px;
  color: #c6c6c6;
}

/*Section detail dropdown*/
td.section-detail {
  background: #263238;
  width: 100%;
}

ul.section-detail-list {
  margin: 0;
  padding: 5px 15px;
  list-style-type: none;
}

ul.section-detail-list li {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 300;
  font-size: 15px;
  border-bottom: 1px solid #555;
}

ul.section-detail-list span {
  font-family: serif;
  color: orange;
}

ul.section-detail-list a {
  text-decoration: none;
  color: #bbb;
}

ul.section-detail-list a:focus {
  color: #666;
  background-color: inherit;
}
